@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  background: #f1f5f9;
  min-height: 100%;
}

.page-transition {
  animation: pageTransition 0.5s ease-in-out;
}

@keyframes pageTransition {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}